/* Styles for the website */

html {
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #323232;
    /*overflow-x: hidden;*/
}

.no-js .top-bar {
    display: none;
}

@media screen and (min-width: 40em) {
    .no-js .top-bar {
        display: block;
    }
    .no-js .title-bar {
        display: none;
    }
}

p {
    line-height: 1.3rem;
}

img {
    display: block;
    margin: 0 auto;
}

.main-container {
    padding: 2rem 0;
}

.darkgrey {
    background: #323232;
}

.dark-grey-bg {
    background: #323232;
    padding: 3rem 0;
}
.dark-grey-bg-none {
    background: #333;
    min-height: 1450px;
}

.dark-grey-bg h3 {
    color: white;
    font-size: 1.5rem;
}

.dark-grey-bg p {
    color: #ccc;
}

.darkgrey .row img {
    margin: 0;
    padding: 0;
}

.yellowtri {
    color: gold;
    position: relative;
    left: -1.6rem;
    top: 1.6rem;
}

.bluemain {
    background: #009cde;
    padding: 4rem 0;
}

.bluemain h4 {
    color: white;
    font-size: 1.5rem;
}

.bluemain p {
    color: white;
}

.blue-titles h3 {
    color: #009cde;
}

.reliable-execution-box {
    padding: 6rem 0;
}

.reliable-execution {
    margin-top: 5rem;
}

.bluemain h3 {
    color: white;
}

.bluemain p {
    font-weight: 400;
}

.complementary-capabilities-bg {
    background: url('../img/it-management-graphics_132.jpg');
    background-size: cover;
    background-position: center;
    padding: 12rem 0;
    text-align: center;
}

@media only screen and (min-width:40em) {
    .complementary-capabilities-bg {
        background: url('../img/it-management-graphics_13.png');
        background-size: cover;
        background-position: center;
        padding: 12rem 0;
        text-align: left;
    }
}

.quote-image {
    max-width: 60px;
    width: 100%;
    margin-bottom: 1.5rem;
}

.bluehalfs {
    background-color: #009cde;
    background-image: linear-gradient( 90deg, #009cde 0%, #009cde 50%, #33b0e5 50%, #33b0e5 50%);
    padding: 3rem 0;
}

.hockey-hero {
    background: url("../img/slideshow/dataProtection/med-overlay/hockeyOverlay2-fast.jpg") no-repeat center center;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 100%;
}

.hockey-hero h1 {
    color: white;
    text-align: center;
    padding-top: 5rem;
    font-size: 1.5rem;
}

.hockey-hero h3 {
    color: white;
    text-align: center;
    font-size: 1rem;
}

.hockey-hero p {
    color: white;
    font-size: .8rem;
    font-weight: 500;
    text-align: center;
}

@media only screen and (min-width:40em) {
    .hockey-hero {
        background: url("../img/slideshow/dataProtection/med-overlay/hockeyOverlay-fast.png") no-repeat center center;
        background-size: cover;
        background-position: 50% 40%;
        min-height: 600px;
        width: 100%;
    }
    .hockey-hero h1 {
        color: white;
        padding-top: 10rem;
        text-align: left;
        font-size: 3rem;
    }
    .hockey-hero h3 {
        color: white;
        text-align: left;
        font-size: 22px;
    }
    .hockey-hero p {
        color: white;
        font-size: 1.1rem;
        font-weight: 500;
        text-align: left;
    }
}

.security-hero {
    background: url("../img/slideshow/security/med-overlay/safeOverlay2-fast.jpg") no-repeat center center;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 100%;
}

.security-hero h1 {
    color: white;
    text-align: center;
    padding-top: 5rem;
    font-size: 1.5rem;
}

.security-hero h3 {
    color: white;
    text-align: center;
    font-size: 1rem;
}

.security-hero p {
    color: white;
    font-size: .8rem;
    font-weight: 500;
    text-align: center;
}

@media only screen and (min-width:40em) {
    .security-hero {
        background: url("../img/slideshow/security/med-overlay/safeOverlay-fast.jpg") no-repeat center center;
        background-size: cover;
        background-position: 50% 60%;
        min-height: 600px;
        width: 100%;
    }
    .security-hero h1 {
        color: white;
        padding-top: 10rem;
        text-align: left;
        font-size: 3rem;
    }
    .security-hero h3 {
        color: white;
        text-align: left;
        font-size: 22px;
    }
    .security-hero p {
        color: white;
        font-size: 1.1rem;
        font-weight: 500;
        text-align: left;
    }
}

.whitetext {
    color: white;
    line-height: 1.3;
}

.whitetext p {
    color: #f2f2f2;
}

p {
    font-size: 14px;
}

h3 {
    font-size: 22px;
}

.title-container {
    padding: 5rem 0;
}


/* Header Styles */

.main-header-container {
    position: relative;
    width: 100%;
    background: #fff;
}

.main-header-container img {
    width: 100px;
}

.main-header-container.scrolled {
    z-index: 40;
}

@media screen and (min-width: 40em) {
    .main-header-container.scrolled {
        z-index: 40;
    }
    .main-header-container-scroll {
        position: absolute;
        width: 100%;
        z-index: 40;
        background: #fff;
        top: -10rem;
        transition: 0.35s all ease-in-out;
        box-shadow: 0px 0px 3px #aaa;
    }
    .main-header-container-scroll.scrolled {
        top: 0;
        position: fixed;
        transition: 0.35s all ease-in-out;
    }
    .main-header-container {
        position: relative;
        width: 100%;
        z-index: 1;
        background: #fff;
        transition: all 0.3s;
    }
    .main-header-container img {
        width: 200px;
        transition: all 0.3s;
    }
    .main-header-container a {
        color: #333;
        transition: all 0.3s;
    }
    .logo-container {
        margin-top: 2.5rem;
        margin-bottom: 2rem;
        transition: all 0.3s;
    }
    .nav-container {
        margin-top: 4.5rem;
        transition: all 0.3s;
    }
}


/*
.main-header-container-scroll .logo-container {
    margin: 0.5rem 0;
}

.main-header-container-scroll .logo-container img {
    width: 8rem;
}

.main-header-container-scroll .nav-container {
    margin-top: 1.3rem;
}

.main-header-container-scroll .client-login-btn-container {
    margin-top: .4rem;
}

.main-header-container-scroll .client-login-btn-container p {
    margin-bottom: .1rem;
}

.main-header-container-scroll .client-login-btn {
    margin-top: 0rem;
    text-transform: uppercase;
    padding: .3rem 1rem;
    border-radius: .8rem;
    border: 1px solid #333;
    font-size: .7rem;
    letter-spacing: .2rem;
    font-weight: 300;
}
 */

@media screen and (min-width: 40em) {
    .nav-container nav ul {
        list-style: none;
    }
    .nav-container nav ul li {
        display: inline-block;
        padding: 0 1rem;
    }
    .nav-container nav ul li a {
        color: #000;
        font-weight: 300;
        font-size: .9rem;
        transition: 0.05s all ease-in-out;
        padding: 0;
    }
    .nav-container nav ul li a:hover {
        color: #009cde;
    }
}

.client-login-btn-container {
    margin-top: 2rem;
    transition: all 0.3s;
    display: none;
}

.client-login-btn {
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: .8rem;
    border: 1px solid #333;
    font-size: 1rem;
    letter-spacing: .2rem;
    font-weight: 300;
    transition: all 0.3s;
}

.client-login-btn:hover {
    background: #333;
    color: white;
}

@media screen and (min-width:40em) {
    .client-login-btn-container {
        margin-top: 2rem;
        transition: all 0.3s;
        display: block;
    }
    .client-login-btn {
        text-transform: uppercase;
        padding: .8rem 1.2rem;
        border-radius: .8rem;
        border: 1px solid #333;
        font-size: .7rem;
        letter-spacing: .2rem;
        font-weight: 300;
        transition: all 0.3s;
    }
    .client-login-btn:hover {
        background: #333;
        color: white;
    }
}

.top-number {
    font-size: 16px;
    letter-spacing: .1rem;
    margin: 0;
    text-align: Left;
    position: relative;
    display: none;
}

@media screen and (min-width:40em) {
    .top-number {
        font-size: .7rem;
        letter-spacing: .2rem;
        margin: 0;
        text-align: center;
        display: block;
    }
}

.under-nav {
    width: 100%;
    position: absolute;
    top: -10px;
    background: #333;
    z-index: 0;
    padding: 1rem 0;
    transition: 0.2s all ease-in-out;
}

.under-nav-container-scroll {
    background: #333;
    width: 100%;
}

.under-nav-container-scroll .under-nav-scroll li {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: .9rem;
}

.under-nav-container-scroll .under-nav-scroll li a {
    color: white;
    transition: 0.35s all ease-in-out;
}

.under-nav-scroll {
    width: 100%;
    position: fixed;
    top: -65px;
    background: #333;
    z-index: 0;
    padding: 1rem 0;
    transition: 0.2s all ease-in-out;
}

.under-nav-scroll.scrolled.under-nav-scroll {
    top: 56px;
    transition: 0.35s all ease-in-out;
}

.under-nav-scroll ul {
    margin-bottom: 0;
}

.under-nav-scroll li {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: .9rem;
}

.under-nav-scroll li a {
    color: white;
    transition: 0.2s all ease-in-out;
}

.under-nav-scroll li a:hover {
    color: #009cde;
    transition: 0.2s all ease-in-out;
}

.under-nav ul {
    margin-bottom: 0;
}

.under-nav li {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: .9rem;
}

.under-nav li a {
    color: white;
    transition: 0.2s all ease-in-out;
}

.under-nav li a:hover {
    color: #009cde;
    transition: 0.2s all ease-in-out;
}

.under-nav-open {
    top: 135px;
    transition: 0.2s all ease-in-out;
}

.under-nav-open.scrolled {
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0;
}


/* Home Slider Styles */


/* position dots in carousel */

.flickity-page-dots {
    bottom: 1rem;
    z-index: 20;
}


/* white circles */

.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}


/* fill-in selected dot */

.flickity-page-dots .dot.is-selected {
    background: white;
}

.home-slide-1 {
    background: url('../img/slideshow/home/mobile/slideScooterTrickOverlay2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 100%;
}

.home-slide-2 {
    background: url('../img/slideshow/home/mobile/slideConcertOverlay2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 100%;
}

.home-slide-3 {
    background: url('../img/slideshow/home/mobile/slideBuildingOverlay2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 100%;
}

.home-slide-4 {
    background: url('../img/slideshow/home/mobile/slideFanOverlay2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 100%;
}

.home-slide-1 h1,
.home-slide-2 h1,
.home-slide-3 h1,
.home-slide-4 h1 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: -10px 0;
    font-size: 1.5rem;
}

.home-slide-1 p,
.home-slide-2 p,
.home-slide-3 p,
.home-slide-4 p {
    text-align: center;
    color: #fff;
    padding-top: 1rem;
}

.slider-content {
    margin-top: 3rem;
}

.gallery {
    position: relative;
    z-index: -10;
}

div .slider-content .index-img-fix {
    display: block;
    width: 80px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width:40em) {
    .home-slide-1 {
        background: url('../img/slideshow/home/med-overlay/slideScooterTrickOverlay.jpg');
        background-size: cover;
        background-position: 50% 40%;
        min-height: 600px;
        width: 100%;
    }
    .home-slide-2 {
        background: url('../img/slideshow/home/med-overlay/slideConcertOverlay.jpg');
        background-size: cover;
        background-position: center;
        min-height: 600px;
        width: 100%;
    }
    .home-slide-3 {
        background: url('../img/slideshow/home/med-overlay/slideBuildingOverlay.jpg');
        background-size: cover;
        background-position: center;
        min-height: 600px;
        width: 100%;
    }
    .home-slide-4 {
        background: url('../img/slideshow/home/med-overlay/slideFanOverlay.jpg');
        background-size: cover;
        background-position: 50% 30%;
        min-height: 600px;
        width: 100%;
    }
    .home-slide-1 h1,
    .home-slide-2 h1,
    .home-slide-3 h1,
    .home-slide-4 h1 {
        text-align: left;
        text-transform: uppercase;
        color: #fff;
        margin: -10px 0;
        font-size: 2.6rem;
    }
    .home-slide-1 p,
    .home-slide-2 p,
    .home-slide-3 p,
    .home-slide-4 p {
        text-align: left;
        color: #fff;
        padding-top: 2rem;
    }
    .slider-content {
        margin-top: 7rem;
    }
    .gallery {
        position: relative;
        z-index: -10;
    }
    div .slider-content .index-img-fix {
        display: inline;
        width: 140px;
    }
}

.gallery-cell {
    width: 100%;
}

.main-content-block {
    padding: 5rem 0;
}

.it-management-benefits {
    padding: 6rem 0 0;
}

.it-management-benefits h4 {
    color: #009cde;
    font-weight: 300;
    font-size: 1.3rem;
}

.it-management-benefits h4 {
    font-weight: 300;
}

@media only screen and (max-width: 40em) {
    .it-management-benefits {
        padding: 1rem 0 0;
    }
    .it-management-benefits h4 {
        padding: 4rem 0 0;
    }
}

.main-content-block p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
}

.why-choose {
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 8rem 0;
    z-index: -1;
}

.blue-line {
    margin-top: 2rem;
}

.services h3 {
    color: #009cde;
    font-size: 1.5rem;
    padding: 1rem 0;
    font-weight: 300;
}

.service-block {
    position: relative;
    vertical-align: bottom;
}

@media only screen and (max-width: 40em) {
    .service-block {
        min-height: 18rem;
        padding: 4rem 0;
    }
}

.service-link {
    position: absolute;
    bottom: 0;
    left: 35%;
}

.services p {
    font-weight: 300;
}

.grey-bg {
    background: #eee;
    padding: 5rem 0;
    text-align: center;
}

.grey-bg-no-margin {
    background: #eee;
    padding: 5rem 0;
    overflow: hidden;
}

.grey-bg2 {
    background: #eee;
}

.grey-bg-img {
    max-width: 20%;
    margin-left: 40%;
    margin-bottom: 20px;
    display: block;
}

@media only screen and (min-width:40em) {
    .grey-bg {
        background: #eee;
        padding: 5rem 0;
        text-align: left;
    }
    .grey-bg-img {
        max-width: 15%;
        margin: 30px;
        margin-top: 15px;
        display: inline-block;
        float: left;
    }
}

.get-started h4 {
    font-weight: 300;
}

.get-started .talk-button {
    background: #009cde;
    color: white;
    padding: 1rem 0;
    margin: 1rem 0;
    border-radius: 1rem;
    min-width: 100%;
}

@media only screen and (min-width:40em) {
    .get-started .talk-button {
        background: #009cde;
        color: white;
        padding: 1rem 8rem;
        margin: 1rem 0;
        border-radius: 1rem;
    }
}

.get-started .talk-button:hover {
    background-color: #3ec3ff;
}

.contact-us,
.email-us {
    font-weight: 300;
}


/* IT Management Styles */

.it-management-header-img {
    background: url('../img/slideshow/itManagement/med-overlay/racecarOverlay2-fast.jpg');
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 100%;
}

.it-management-header-img h1 {
    color: white;
    text-align: center;
    padding-top: 5rem;
    font-size: 1.5rem;
}

.it-management-header-img h3 {
    color: white;
    text-align: center;
    font-size: 1rem;
}

.it-management-header-img p {
    color: white;
    font-size: .8rem;
    font-weight: 500;
    text-align: center;
}

@media only screen and (min-width:40em) {
    .it-management-header-img {
        background: url('../img/slideshow/itManagement/med-overlay/racecarOverlay-fast.jpg');
        background-size: cover;
        background-position: center;
        min-height: 600px;
        width: 100%;
    }
    .it-management-header-img h1 {
        color: white;
        padding-top: 10rem;
        text-align: left;
        font-size: 3rem;
    }
    .it-management-header-img h3 {
        color: white;
        text-align: left;
        font-size: 22px;
    }
    .it-management-header-img p {
        color: white;
        font-size: 1.1rem;
        font-weight: 500;
        text-align: left;
    }
}

.service-ops-header-img {
    background: url('../img/slideshow/itManagement/med-overlay/gears2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 100%;
}

.service-ops-header-img h1 {
    color: white;
    text-align: center;
    padding-top: 5rem;
    font-size: 1.5rem;
}

.service-ops-header-img h3 {
    color: white;
    text-align: center;
    font-size: 1rem;
}

.service-ops-header-img p {
    color: white;
    font-size: .8rem;
    font-weight: 500;
    text-align: center;
}

@media only screen and (min-width:40em) {
    .service-ops-header-img {
        background: url('../img/slideshow/itManagement/med-overlay/gears1.jpg');
        background-size: cover;
        background-position: center;
        min-height: 600px;
        width: 100%;
    }
    .service-ops-header-img h1 {
        color: white;
        padding-top: 10rem;
        text-align: left;
        font-size: 3rem;
    }
    .service-ops-header-img h3 {
        color: white;
        text-align: left;
        font-size: 22px;
    }
    .service-ops-header-img p {
        color: white;
        font-size: 1.1rem;
        font-weight: 500;
        text-align: left;
    }
}

.it-management-blocks {
    padding: 6rem 0;
}

.it-management-blocks div {
    margin-bottom: 2rem;
}

.it-management-blocks h3 {
    color: #009cde;
    font-size: 1.5rem;
}

@media only screen and (min-width:40em) {
    .it-management-blocks {
        padding: 6rem 0;
        margin-bottom: 0rem;
    }
    .it-management-blocks div {
        margin-bottom: 0;
    }
    .it-management-blocks h3 {
        color: #009cde;
        font-size: 1.5rem;
    }
}

.managed-services {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.managed-services div div a {
    position: relative;
    vertical-align: bottom;
}

.yellow-arrow {
    margin-right: 1rem;
}


/* Cloud Solutions Styles */

.cloud-solutions-header-img {
    background: url('../img/slideshow/cloudSolutions/medOverlay/buildingOverlay2-fast.jpg');
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 100%;
}

.cloud-solutions-header-img h1 {
    color: white;
    text-align: center;
    padding-top: 5rem;
    font-size: 1.5rem;
}

.cloud-solutions-header-img h3 {
    color: white;
    text-align: center;
    font-size: 1rem;
}

.cloud-solutions-header-img p {
    color: white;
    font-size: .8rem;
    font-weight: 500;
    text-align: center;
}

@media only screen and (min-width:40em) {
    .cloud-solutions-header-img {
        background: url('../img/slideshow/cloudSolutions/medOverlay/buildingOverlay-fast.jpg');
        background-size: cover;
        background-position: center;
        min-height: 600px;
        width: 100%;
    }
    .cloud-solutions-header-img h1 {
        color: white;
        padding-top: 10rem;
        text-align: left;
        font-size: 3rem;
    }
    .cloud-solutions-header-img h3 {
        color: white;
        text-align: left;
        font-size: 22px;
    }
    .cloud-solutions-header-img p {
        color: white;
        font-size: 1.1rem;
        font-weight: 500;
        text-align: left;
    }
}

.sideblue-left {
    background: #009cde;
    float: left;
    width: 50%;
    min-height: 450px;
    position: relative;
}

.sideblue-right {
    float: right;
    width: 50%;
    background: #33b0e5;
    min-height: 450px;
    position: relative;
}

.cloud-solution-graphic-images {
    list-style: none;
    margin: 8rem 0;
}

.cloud-solution-graphic-images li {
    vertical-align: top;
}

.cloud-solution-graphic-images li {
    display: inline-block;
}

.cloud-solution-graphic-images img {
    max-width: 100px;
    padding: 1rem .5rem;
}

@media only screen and (min-width:40em) {
    .cloud-solution-graphic-images img {
        max-width: 100px;
        padding: 0rem .5rem;
    }
}

.sideblue-right h3,
.sideblue-left h3 {
    margin-top: 8rem;
}

.sideblue-left h3,
.sideblue-left p,
.sideblue-right h3,
.sideblue-right p {
    color: white;
    margin-left: 0;
}

.comprehensive-management {
    padding: 4rem 0;
}

.comprehensive-management h4 {
    color: #009cde;
    font-size: 1.5rem;
    margin-top: 3rem;
}

.build-support-bg {
    background: url('../img/cloud-solutions-graphics_06-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 380px;
    color: #fff;
}

@media only screen and (min-width:40em) {
    .build-support-bg {
        background: url('../img/cloud-solutions-graphics_06.png');
        background-position: left center;
        background-repeat: no-repeat;
        min-height: 380px;
        color: #333;
    }
}

.build-support {
    padding: 6rem 0;
}

.build-support h4 {
    margin-bottom: 2rem;
}

.optimizing-bg {
    background: url('../img/cloud-server-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    color: white;
}

@media only screen and (min-width:40em) {
    .optimizing-bg {
        background: url('../img/cloud-server.png');
        background-position: center;
        background-repeat: no-repeat;
        min-width: 380px;
        background-size: cover;
        color: #333;
    }
}

.security-focus-bg {
    padding: 8rem 0;
    background: url('../img/papers-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-color: #323232;
    margin: 0;
}

@media only screen and (min-width:40em) {
    .security-focus-bg {
        background: url('../img/papers-small-2.png');
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 380px;
        color: #323232;
        background-color: #fff;
    }
}


/* Company Styles */

.company-header {
    background: url('../img/slideshow/company/companySlide-fast.jpg');
    background-position: center;
    background-size: cover;
    min-height: 600px;
}

.header-title {
    padding: 4rem 0;
}

@media screen and (max-width: 768px) {
    .it-management-blocks {
        padding: 4rem 0;
    }
    .it-management-blocks h3 {
        padding-top: 2rem;
    }
    .managed-services {
        padding: 1rem 0;
    }
    .managed-services div div a {
        position: relative;
        vertical-align: bottom;
    }
    .yellow-arrow {
        margin-right: 1rem;
    }
    .sideblue-left {
        float: none;
        min-height: auto;
        padding: 2rem 0;
        width: 100%;
    }
    .sideblue-right {
        float: none;
        width: 100%;
        min-height: auto;
        padding: 2rem 0;
    }
    .sideblue-right h3,
    .sideblue-left h3 {
        margin-top: 2rem;
    }
    .sideblue-left h3,
    .sideblue-left p,
    .sideblue-right h3,
    .sideblue-right p {
        color: white;
        margin-left: ;
    }
}


/* Footer Styles */

footer {
    background: #333;
    padding: 4rem 0 0;
}

.footer-nav img {
    width: 150px;
    padding-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.footer-nav ul {
    list-style: none;
}

.footer-nav ul li {
    font-size: .9rem;
}

.footer-nav ul li a {
    color: #ccc;
}

.footer-nav ul li a:hover {
    text-decoration: underline;
}

a.footer-head-link {
    color: #fff !important;
    font-size: 1rem;
    font-weight: 700;
}

.copyright p {
    color: #ccc;
    font-size: .8rem;
    padding: 1rem 0;
    letter-spacing: 0rem;
}

@media only screen and (min-width:40em) {
    footer {
        background: #333;
        padding: 4rem 0 0;
    }
    .footer-nav img {
        width: 100px;
        padding-bottom: 3rem;
    }
    .footer-nav ul {
        list-style: none;
    }
    .footer-nav ul li {
        font-size: .8rem;
    }
    .footer-nav ul li a {
        color: #ccc;
    }
    .footer-nav ul li a:hover {
        text-decoration: underline;
    }
    a.footer-head-link {
        color: #fff !important;
        font-size: .9rem;
        font-weight: 700;
    }
    .copyright p {
        color: #ccc;
        font-size: .7rem;
        padding: 1rem 0;
        letter-spacing: .1rem;
    }
}

.centerme {
    margin-left: auto;
    margin-right: auto;
}

.learn-arrow {
    position: relative;
    right: -1rem;
}

.hero-text {
    padding-top: 10%;
}

.services {
    padding: 2rem 2rem 6rem 2rem;
}

.mid-row-pad {
    padding-top: 1.5rem;
}

.subnav-item {
    position: relative;
}

ul>.subnav-item:hover:before {
    content: ' ';
    border: 10px solid #FFFFFF;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -11px;
}

.dark-grey-bg div div .dark-grey-bg-img {
    max-width: 420px;
    margin-top: 3rem;
}

.blue-circle-img {
    max-width: 120px;
    margin-bottom: 1rem;
}

@media screen and (max-width:40em) {
    .managed-services {
        padding: 2rem 0;
        text-align: center;
    }
    .managed-services div div {
        padding-bottom: 3rem;
    }
    .dark-grey-bg {
        background: #323232;
        padding: 1rem 0;
    }
    .yellowtri {
        color: gold;
        position: relative;
        left: -8.5rem;
        top: 1.6rem;
    }
    .dark-grey-bg div div .dark-grey-bg-img {
        max-width: 300px;
        margin-top: 0px;
    }
    .blue-circle-img {
        max-width: 80px;
        margin-bottom: 1rem;
    }
    .test-class-1 {
        display: inline;
    }
    .bluehalfs {
        background-color: #009cde;
        background-image: linear-gradient( 180deg, #009cde 0%, #009cde 50%, #33b0e5 50%, #33b0e5 50%);
        padding: 3rem 0;
    }
    .bluehalfs div div {
        padding-bottom: 2rem;
    }
    .test-class-1 {
        position: relative;
        top: 3rem;
    }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .bluehalfs {
        background-color: #009cde;
        background-image: linear-gradient( 180deg, #009cde 0%, #009cde 50%, #33b0e5 50%, #33b0e5 50%);
        padding: 3rem 0;
    }
    .bluehalfs div div {
        padding-bottom: 2rem;
    }
    .test-class-1 {
        position: relative;
        top: 3rem;
    }
}


/* Company */

.bluetri2 {
    position: relative;
    color: #009cde;
    right: -20px;
}

.cclogin-addon {
    color: #fff;
    float: left;
    padding: 9.6px;
    width: 8%;
    background: #009cde;
    text-align: center;
    border: none;
    border-radius: 10px 0 0 10px;
    font-size: 14px;
}

.cclogin input[type=text] {
    padding: 10px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #666;
    border: 1px solid #ccc;
}

.cclogin textarea {
    padding: 10px;
    height: 100px;
    width: 100%;
    color: #666;
    border: 1px solid #ccc;
    resize: none;
}

@media only screen and (min-width:40em) {
    .cclogin input[type=text] {
        padding: 10px;
        width: 92%;
        height: 40px;
        line-height: 40px;
        color: #666;
        border: 1px solid #ccc;
    }
    .cclogin textarea {
        padding: 10px;
        height: 100px;
        width: 92%;
        color: #666;
        border: 1px solid #ccc;
        resize: none;
    }
}

.cclogin .bluesubmit,
.cllogin .bluesubmit {
    width: 100%;
    color: white;
    background: #009cde;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.grey-bg-no-margin h3 {
    padding: 0px;
    margin: 0px;
}

.active {
    padding-bottom: 5px;
    border-bottom: 1px solid #009cde;
}


/* New Nav Styling */

.medium-horizontal .is-dropdown-submenu {
    top: 100%;
    left: 0;
}

.medium-horizontal .is-dropdown-submenu-parent.opens-left .is-dropdown-submenu {
    right: 0;
}

.top-bar {
    background: #fff;
}

.top-bar,
.top-bar ul {
    background: #fff;
}

.top-bar-right {
    /*float: left;*/
}

@media only screen and (min-width: 40em) {
    .top-bar-right {
        margin-right: 3rem;
        /*float: right; */
    }
}

.menu .nav-text-1 {
    margin-top: 1rem;
    color: #333;
    padding-bottom: 1rem;
    font-size: 1rem;
}

.menu .nav-text-1:hover {
    color: #0099df;
}

@media only screen and (min-width: 40em) {
    .menu .nav-text-1 {
        margin-top: 2rem;
        color: #333;
        padding-bottom: 0;
        font-size: 1rem;
        transition: all 1s ease-out;
    }
}

.menu li ul .sub-nav-text-1 {
    font-size: 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
    color: #555;
}

.menu li ul .sub-nav-text-1:hover {
    color: #0099df;
}

@media only screen and (min-width: 40em) {
    .menu li ul .sub-nav-text-1 {
        font-size: .9rem;
        color: #555;
        margin-top: 1rem;
        max-width: 25rem;
        padding-top: 0;
        letter-spacing: .05rem;
    }
}


/* PROGRESS BAR */

.progress-bar {
    position: relative;
    top: -8px;
    width: 100%;
    height: 8px;
    background: gold;
    animation: fullexpand 5s ease-in-out infinite;
    -webkit-animation: fullexpand 5s ease-in-out infinite;
    -moz-animation: fullexpand 5s ease-in-out infinite;
    -o-animation: fullexpand 5s ease-in-out infinite;
}


/* ANIMATION BAR */

@keyframes fullexpand {
    0% {
        width: 0%;
        opacity: 0;
    }
    33% {
        opacity: .8;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

#back-top {
    position: fixed;
    width: 44px;
    height: 44px;
    bottom: 4%;
    right: 10%;
    z-index: 100;
    border-radius: 50%;
    background: #009fde;
    text-align: center;
    padding-top: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    display: block;
}

#back-top i {
    color: white;
}

@media only screen and (min-width:40em) {
    #back-top {
        position: fixed;
        bottom: 4%;
        right: 4%;
        z-index: 100;
        border-radius: 50%;
    }
}

.darkgreyframe {
    width: 100%;
    height: 2.5rem;
    background: #333;
}

.lock-img-bg {
    background-image: url('../img/security-graphics_09.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 380px;
}

.lock-img-bg h3 {
    padding-top: 10rem;
}

.top-bar {
    overflow-x: hidden;
}

@media only screen and (min-width:40em) {
    .top-bar {
        overflow-x: visible;
    }
}

.is-drilldown-submenu-parent > a::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    border-color: transparent transparent transparent #009fde;
    border-left-style: solid;
    border-right-width: 0;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 12rem;
}

.grey-bg-no-margin img {
    padding: 2rem 0;
    margin-left: 0;
    margin-right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 40em) {
    .grey-bg-no-margin img {
        padding: 2rem 0;
        margin-left: 0;
        margin-right: 0;
    }
}

.company-panel {
    text-align: justify;
    text-justify: inter-word;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.menu-text img {
    width: 180px;
}

@media screen and (min-width: 40em) and (max-width: 1024px) {
    .menu-text img {
        width: 150px;
    }
    .menu .nav-text-1 {
        margin-top: 2rem;
        color: #333;
        padding-bottom: 0;
        font-size: .8rem;
        transition: all 1s ease-out;
    }
    .dark-grey-bg div div .dark-grey-bg-img {
        max-width: 80%;
        margin-top: 5rem;
    }
}

@media screen and (min-width: 40em) and (max-width: 768px) {
    .client-login-btn-container {
        margin-top: 2rem;
        transition: all 0.3s;
        display: none;
    }
    .cloud-solution-graphic-images img {
        max-width: 100px;
        padding: 1rem .5rem;
    }
}
.why-l3 p {
    font-size: 16px;
    letter-spacing: .75px;
    line-height: 1.6;
    color: #888;
    padding-top:1.5rem;
    
}

.why-l3 h1 {
    color: #333;
    line-height: 1.25em;
    font-size: 32px;
    vertical-align: bottom;
    bottom: 0;
    display:inline-block;
    width:4rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.why-l3 span {
    bottom: 0;
    color:  #009dfe;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 190px;
    left: 0;
    line-height: .825em;
    margin-top: 7rem;
    display:inline;
}

.reason-block {
    padding-top: 7rem;
}
.why-reasons {
       letter-spacing: 2.5px;
    text-transform: uppercase;
    font-size: 2rem;
    /* padding-bottom: 10px; */
    padding-top: 80px;
    color: #009dfe;
    font-weight: bold;
    line-height: 2.5rem;
}
@media screen and (min-width:40em){
 .why-reasons {
       letter-spacing: 2.5px;
    text-transform: uppercase;
    font-size: 3.5rem;
    /* padding-bottom: 10px; */
    padding-top: 80px;
    color: #009dfe;
    font-weight: bold;
    line-height: 3.5rem;
}   
    
}
.why-l3 img {
    width:350px;
    padding-top: 4rem;
    
}

.upside-down-clouds {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    top:-80px;
    left:26%;
}

.router {
    position: relative;
    color:white;
}

.router h3 {
    padding-top: 80%;
    
}
.router p {
    
}
.router-lower {
}

.router-temp {
    padding-top: 12rem;
    padding-bottom: 8rem;
    position: absolute;
    width:75%;
    top:24rem;
    z-index: 2;
}

.router-temp-2 {
    position: absolute;
    width:100%;
    z-index: 0;
    
}