body {
    font-family: "Helvetica Neue ", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: lighter;
}

body {
    background: url('../img/404back.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top,
.bottom {
    color: white;
}

.bottom ul {
    list-style: none;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

.bottom li {
    display: inline-block;
    margin-left: 0;
    padding-right: 2rem;
    font-size: .8rem;
}
.bottom li a {
    color:white;
    transition: all .5s ease;
}
.bottom li a:hover {
    opacity: .5;
}

.top {
    position: absolute;
    left: 2rem;
    top: 8rem;
    width:30%;
}
.top h2 {
    font-size: 2rem;
}
.top h3 {
    padding-top: 1rem;
    font-size: .9rem;
    line-height: 2;
}
.top a {
    width:10rem;
    display:block;
    color:white;
    font-size: .9rem;
    padding:1rem;
    border:1px solid white;
    text-align: center;
    margin-top: 3rem;
    border-radius: 2.5rem;
    background: none;
    transition: all .2s ease;
    opacity: 1;
}
.top a:hover {
    opacity:.5;
}